<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>

      html, body { background:#F5F5F5; margin:0; padding:0; text-align:center;
        font-family:'Lato', sans-serif; }

      #container { position: absolute; top:0; bottom:0; left:0; right:0; width: 100%; height: 100%; }
      #train { position: absolute; width:50%; top:0; bottom:0; left:0; }
      #test { position: absolute; width:50%; top:0; bottom:0; left:50%; }

    </style>
  </head>
  <body>
    <div id="container">
      <div id="train"></div>
      <div id="test"></div>
    </div>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="static/data.js" charset="utf-8"></script>
  </body>
</html>
