<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>

      html, body { background:#F5F5F5; margin:0; padding:0; text-align:center;
        font-family:'Lato', sans-serif; }

      #container { position: absolute; top:0; bottom:0; left:0; right:0; width: 100%; height: 100%; }

    </style>
  </head>
  <body>
    <div id="container">
      <div class="btn-group">
        <h4 class="pull-left">Fold:</h4>
        <button type="button" value="1" class="btn btn-default">1</button>
        <button type="button" value="2" class="btn btn-default">2</button>
        <button type="button" value="3" class="btn btn-default">3</button>
        <button type="button" value="4" class="btn btn-default">4</button>
        <button type="button" value="5" class="btn btn-default">5</button>
        <button type="button" value="6" class="btn btn-default">6</button>
        <button type="button" value="7" class="btn btn-default">7</button>
        <button type="button" value="8" class="btn btn-default">8</button>
        <button type="button" value="9" class="btn btn-default">9</button>
        <button type="button" value="10" class="btn btn-default">10</button>
      </div>
      <div id="graph"></div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="static/data.js" charset="utf-8"></script>
  </body>
</html>
